    <!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap">
        <link rel="stylesheet" href="{{ url_for('static', filename='miestilo1.css') }}">
        <link rel="stylesheet" href="{{url_for('static',filename='w3.css')}}">
       
</head>
<body>

<div class="container mt-5">
    <div class="col-md-6 offset-md-3">
        <h2 >Iniciar sesion <HR></HR></h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}             
                    {% for category, message in messages %}
                        <div class="flash-message alert alert-{{ category }} alert-dismissible fade show" role ="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
            {% endif %}
        {% endwith %}

        <form method="post" action="{{ url_for('auth.login1') }}">        
            <div class="form-group">
                <label for="nameCli">nombre usuario</label>
                <input type="text" name="nameCli" id="namecliente" class="form-control" placeholder="Nombre del Usuario" required>
            </div>
            <HR> <img src="{{ url_for('static', filename='imagenes/usuario1.png') }}" alt="Fondo" width="60" height="60" ></HR>
            <div class="form-group">
                <label for="passworduser">clave</label>
                <input type="password" name="passwordUser" id="passworduser" class="form-control" placeholder="Clave"  required>
            </div>
            <HR></HR>
            <div>
                <button type="submit" class="btn btn-primary">Iniciar sesion</button>
                 <!-- Este es un comentario en HTML   <a class="btn btn-primary" href="{{ url_for('auth.login1') }}" >Iniciar sesion</a>-->               
            </div>
        </form>

    <div>
        <form class="form-horizontal">
            <a class="btn btn-primary" href="{{ url_for('auth.add') }}" >Registrarte como Nuevo Usuario!!!</a>
        </form>
    </div>
</div>

</body>
</html>
